<html>

<head>
  <meta charset="utf-8" />
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="lib/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="lib/angularjs-color-picker.min.css">

  <style type="text/css">
    html {
      font-size: 62.5%;
      line-height: 1.4;
    }

    body {
      font-size: 14px;
    }

    md-checkbox {
      margin: 8px;
      cursor: pointer;
      padding-left: 0px;
      padding-right: 0;
      line-height: 10px;
      min-width: 10px;
      min-height: 10px;
      font-size: 14px;
    }

    md-list-item {
      height: 10px;
    }

    .keyShortcut {
      font-family: monospace;
      color: blueviolet;
      font-weight: bold;
    }

    .key {
      display: inline-block;
      width: 128px;
    }

    .value {
      font-family: monospace;
      color: dodgerblue;
      font-weight: bold;
    }

    .title {
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    #fileInput, #y4mFileInput {
      display: none;
    }
    .md-errors-spacer {
      display: none;
    }
    .label {
      font-size: 14px;
      padding-bottom: 4px;
      color: lightslategrey;
    }
    .color-picker-swatch {
      width: 200px !important;
      border: 0 !important;
    }
    ::-webkit-scrollbar
    {
      width: 0px;
      height: 0px;
    }
  </style>
</head>

<body ng-app="AomInspectorApp" ng-cloak ng-controller="AppCtrl as vm" layout="rows">
  <input id="fileInput" type="file" onchange="angular.element(this).scope().fileInputNameChanged(this)">
  <input id="y4mFileInput" type="file" onchange="angular.element(this).scope().y4mFileInputNameChanged(this)">
  <div flex layout="column">
    <!--Progress Bar-->
    <md-progress-linear md-mode="{{vm.progressMode}}" value="{{vm.progressValue}}"></md-progress-linear>
    <div flex layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" style="width: 256px">
        <!--Menu-->
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
            File
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-file', $event)">
                  Open IVF ...
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-y4m-file', $event)">
                  Open Y4M ...
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-soccer', $event)">
                  Open Soccer
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-tiger', $event)">
                  Open Tiger
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-tiger-60', $event)">
                  Open Tiger (--cq-level = 60)
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.uiAction('open-crosswalk', $event)">
                  Open Crosswalk
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
            View
          </button>
            <md-menu-content>
              <md-menu-item ng-repeat="(name, option) in vm.options" type="checkbox" ng-model="vm[name]" ng-change="vm.uiChange()">
                {{option.description}}
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Zoom</md-button>
                  <md-menu-content width="3">
                    <md-menu-item type="radio" ng-model="vm.scale" value="1" ng-change="vm.uiChange()">1x</md-menu-item>
                    <md-menu-item type="radio" ng-model="vm.scale" value="2" ng-change="vm.uiChange()">2x</md-menu-item>
                    <md-menu-item type="radio" ng-model="vm.scale" value="4" ng-change="vm.uiChange()">4x</md-menu-item>
                    <md-menu-item type="radio" ng-model="vm.scale" value="8" ng-change="vm.uiChange()">8x</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>

        <md-content layout-padding>
          <md-button ng-click="vm.uiZoom(.5)" class="md-icon-button">
            <i class="material-icons">zoom_out</i>
            <md-tooltip md-direction="bottom">
              Shortcut: [
            </md-tooltip>
          </md-button>
          <md-button ng-click="vm.uiZoom(2)" class="md-icon-button">
            <i class="material-icons">zoom_in</i>
            <md-tooltip md-direction="bottom">
              Shortcut: ]
            </md-tooltip>
          </md-button>
          <md-button ng-click="vm.uiPlayPause()" class="md-icon-button">
            <i class="material-icons">{{vm.isPlaying ? "pause" : "play_arrow"}}</i>
            <md-tooltip md-direction="bottom">
              Shortcut: Space
            </md-tooltip>
          </md-button>
          <md-button ng-click="vm.uiNextFrame()" class="md-icon-button">
            <i class="material-icons">skip_next</i>
            <md-tooltip md-direction="bottom">
              Shortcut: .
            </md-tooltip>
          </md-button>

          <h1 class="title">Info</h1>
          <table width="100%" style="padding-top: 0;">
            <tr>
              <td>Frame</td>
              <td class="value">{{ vm.frameNumber }}</td>
            </tr>
            <tr>
              <td>Scale</td>
              <td class="value">{{ vm.scale }}</td>
            </tr>
            <tr>
              <td>Ratio</td>
              <td class="value">{{ vm.ratio }}</td>
            </tr>
            <tr>
              <td>Size</td>
              <td class="value">{{ vm.frameSize.w }} x {{ vm.frameSize.h }}</td>
            </tr>
            <tr>
              <td>Tiles</td>
              <td class="value">{{ vm.tileGridSize.cols }} x {{ vm.tileGridSize.rows }}</td>
            </tr>
            <tr>
              <td>File Size</td>
              <td class="value">{{ vm.fileSize }}</td>
            </tr>
            <tr>
              <td>Decode Time</td>
              <td class="value">{{ vm.lastDecodeFrameTime.toFixed(2) }}ms</td>
            </tr>
          </table>

          <h1 class="title">Toggle Layers</h1>
          <md-list>
            <md-list-item ng-repeat="(name, option) in vm.options">
              {{option.description}} [<span class="keyShortcut">{{option.key}}</span>]
              <md-checkbox class="md-secondary" ng-model="vm[name]" ng-change="vm.uiChange()" ng-disabled="option.disabled" aria-label="name"></md-checkbox>
              <md-tooltip md-direction="right">
                {{option.detail}}
              </md-tooltip>
            </md-list-item>
          </md-list>

          <div style="padding: 0px; padding-left: 8px;">
            <md-button class="md-raised" ng-click="vm.uiResetLayers()">
              Reset Layers
              <md-tooltip md-direction="top">
                Resets Layers, Shortcut: x
              </md-tooltip>
            </md-button>
          </div>
          <h1 class="title">Preferences</h1>
          <div>
            <div class="label">Grid Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.gridColor" color-picker-on-change="vm.uiChange()" ></color-picker>
          </div>

          <div>
            <div class="label">Split Grid Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.splitColor" color-picker-on-change="vm.uiChange()"></color-picker>
          </div>

          <div>
            <div class="label">Transform Grid Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.transformColor" color-picker-on-change="vm.uiChange()"></color-picker>
          </div>

          <div>
            <div class="label">MV Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.mvColor" color-picker-on-change="vm.uiChange()"></color-picker>
          </div>

          <div>
            <div class="label">Mode Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.modeColor" color-picker-on-change="vm.uiChange()"></color-picker>
          </div>

          <div>
            <div class="label">Skip Color</div>
            <color-picker color-picker-pos="'top left'" color-picker-swatch-only="true" ng-model="vm.skipColor" color-picker-on-change="vm.uiChange()"></color-picker>
          </div>

          <div>
            <div class="label">Sharing Link</div>
            <input ng-model="vm.sharingLink" style="width: 100%; padding: 6px; color: lightslategrey;" select-on-click>
          </div>

          <div>
            <h1 class="title">Decoder</h1>
            <md-select ng-model="vm.selectedDecoder" ng-change="vm.uiChangeDecoder()" aria-label="Select Decoder">
              <md-option ng-repeat="(key, value) in vm.decoders" value="{{key}}">
                {{value.description}}
              </md-option>
            </md-select>
          </div>
        </md-content>
      </md-sidenav>
      <md-content flex layout="row" style="overflow: scroll;">
        <div id="container" style="position: relative; width: 128px; height: 128px;">
          <canvas id="display" oncontextmenu="event.preventDefault()" style="position: absolute; left: 0; top: 0; z-index: 0; image-rendering: pixelated; background-color: #F5F5F5;"
            width=0 height=0></canvas>
          <canvas id="overlay" oncontextmenu="event.preventDefault()" style="position: absolute; left: 0; top: 0; z-index: 1; image-rendering: pixelated; cursor: crosshair;"
            width=0 height=0></canvas>
        </div>
      </md-content>
      <md-content ng-hide="!vm.showInfo" style="background-color: #EEEEEE; width: 512px;">
        <canvas id="zoom" oncontextmenu="event.preventDefault()" style="left: 0; bottom: 0; z-index: 1000; image-rendering: pixelated;"
              width=0 height=0></canvas>
        <div style="background-color: white;">
          <canvas id="chart" oncontextmenu="event.preventDefault()" width=0 height=0></canvas>
        </div>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Block Info">
            <md-content class="md-padding">
              <div ng-repeat="(name, info) in vm.blockInfo" style="padding: 0px; padding-left: 0px;">
                <span class="key">{{info.description}}:</span> <span class="value">{{ vm.uiBlockInfo(name) }}</span>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Frame Statistcs">
            <md-content class="md-padding">
            <md-list>
              <md-list-item ng-repeat="(name, statistic) in vm.frameStatistics">
                {{statistic.description}}
              <md-checkbox class="md-secondary" ng-model="statistic.show" ng-change="vm.drawFrameStatistics()" aria-label="name"}></md-checkbox>
              <md-tooltip md-direction="top">
                {{statistic.detail}}
              </md-tooltip>
              </md-list-item>
            </md-list>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-aria.min.js"></script>
  <script src="lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material.min.js"></script>
  <script src="lib/tinycolor-min.js"></script>
  <script src="lib/tinygradient.min.js"></script>
  <script src="lib/angularjs-color-picker.min.js"></script>


  <script src="lib/jsGradient.js"></script>
  <script src="app.js"></script>
  <script src="lib/mousetrap.min.js"></script>
</body>

</html>
