<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="lib/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style type="text/css">
    html {
      font-size: 62.5%;
      line-height: 1.4;
    }

    body {
      font-size: 1.6em;
    }

    table {
      font-size: 14px;
    }

    md-checkbox {
      margin: 8px;
      cursor: pointer;
      padding-left: 0px;
      padding-right: 0;
      line-height: 10px;
      min-width: 10px;
      min-height: 10px;
      font-size: 14px;
    }

    .key {
      font-family: monospace;
      color: blueviolet;
      font-weight: bold;
    }

    #fileInput { display: none; }
  </style>
</head>

<body ng-app="AomInspectorApp" ng-cloak ng-controller="AppCtrl as vm" layout="rows">
  <input id="fileInput" type="file" onchange="angular.element(this).scope().fileInputNameChanged(this)">
  <div flex layout="column">
    <!--Progress Bar-->
    <md-progress-linear md-mode="{{vm.progressMode}}" value="{{vm.determinateValue}}"></md-progress-linear>
    <!--Menu-->
    <md-menu-bar>
      <span class="md-title" style="padding-right: 100px">AOM Analyzer</span>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
            File
          </button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="vm.uiAction('open-file', $event)">
              Open ...
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.uiAction('open-soccer', $event)">
              Open Soccer
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.uiAction('open-tiger', $event)">
              Open Tiger
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.uiAction('open-crosswalk', $event)">
              Open Crosswalk
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
            View
          </button>
        <md-menu-content>
          <md-menu-item ng-repeat="(name, option) in vm.options" type="checkbox" ng-model="vm[name]" ng-change="vm.uiViewChange()">
            {{option.description}}
          </md-menu-item>
          <md-menu-item class="md-indent">
            <md-menu>
              <md-button ng-click="$mdOpenMenu()">Zoom</md-button>
              <md-menu-content width="3">
                <md-menu-item type="radio" ng-model="vm.scale" value="1" ng-change="vm.uiViewChange()">1x</md-menu-item>
                <md-menu-item type="radio" ng-model="vm.scale" value="2" ng-change="vm.uiViewChange()">2x</md-menu-item>
                <md-menu-item type="radio" ng-model="vm.scale" value="4" ng-change="vm.uiViewChange()">4x</md-menu-item>
                <md-menu-item type="radio" ng-model="vm.scale" value="8" ng-change="vm.uiViewChange()">8x</md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>

    <div flex layout="row">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" style="width: 256px">
        <!--Toolbar-->
        <md-toolbar class="md-toolbar-tools" style="background-color:">
          <md-button ng-click="vm.uiPlayPause()" class="md-icon-button">
            <i class="material-icons">{{vm.isPlaying ? "pause" : "play_arrow"}}</i>
          </md-button>

          <md-button ng-click="vm.uiNextFrame()" class="md-icon-button">
            <i class="material-icons">skip_next</i>
          </md-button>

          <span flex></span>
        </md-toolbar>
        <md-content layout-padding>
          <table width="100%">
            <tr>
              <td>Frame</td><td>{{ vm.frameNumber }}</td>
            </tr>
            <tr>
              <td>Scale</td><td>{{ vm.scale }}</td>
            </tr>
            <tr>
              <td>Ratio</td><td>{{ vm.ratio }}</td>
            </tr>
            <tr>
              <td>Size</td><td>{{ vm.size.w }} x {{ vm.size.h }}</td>
            </tr>
            <tr>
              <td>File Size</td><td>{{ vm.fileSize }}</td>
            </tr>
            <tr>
              <td>Last Decode Time</td><td>{{ vm.lastDecodeFrameTime.toFixed(2) }}</td>
            </tr>
            <tr>
              <td><span class="key">[ ]</span></td><td>Zoom In / Out</td>
            </tr>
            <tr>
              <td><span class="key">.</span></td><td>Next Frame</td>
            </tr>
            <tr>
              <td><span class="key">Space</span></td><td>Play / Stop</td>
            </tr>
          </table>


          <h1 class="md-subhead">Toggle Layers</h1>
          <div ng-repeat="(name, option) in vm.options" style="padding: 0px; padding-left: 8px;">
            <md-checkbox ng-model="vm[name]" ng-change="vm.uiViewChange()">
              {{option.description}} [<span class="key">{{option.key}}</span>]
              <md-tooltip md-direction="right">
                {{option.detail}}
              </md-tooltip>
            </md-checkbox>
          </div>


        </md-content>
      </md-sidenav>
      <md-content flex layout="row" style="overflow: scroll;">
        <div id="container" style="position: relative; width: 128px; height: 128px;">
          <canvas id="display" oncontextmenu="event.preventDefault()" style="position: absolute; left: 0; top: 0; z-index: 0; image-rendering: pixelated; background-color: #F5F5F5;"
            width=0 height=0></canvas>
          <canvas id="overlay" oncontextmenu="event.preventDefault()" style="position: absolute; left: 0; top: 0; z-index: 1; image-rendering: pixelated;"
            width=0 height=0></canvas>
        </div>
      </md-content>
      <md-content ng-hide="!vm.showInfo" style="background-color: #F5F5F5; width: 512px;">
        <canvas id="zoom" oncontextmenu="event.preventDefault()" style="left: 0; bottom: 0; z-index: 1000; image-rendering: pixelated;"
              width=0 height=0></canvas>
              <br>
        <md-content layout-padding>
          Prediction Mode: {{ vm.uiMIMode() }}<br>
          Dering Gain: {{ vm.uiMIDeringGain() }}<br>
          Block Size: {{ vm.uiMIBlockSize() }}<br>
        </md-content>
      </md-content>
    </div>
  </div>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-aria.min.js"></script>
  <script src="lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material.min.js"></script>

  <script src="lib/jsGradient.js"></script>
  <script src="app.js"></script>
  <script src="lib/mousetrap.min.js"></script>

  <script src="bin/decoder.js"></script>

</body>

</html>